/* Font */
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	/* Device Sizes */
	--Mobile-width: 375px;
	--Desktop-width: 1440px;

	/* Colors */
	--yellow: hsl(47, 88%, 63%);
	--white: hsl(0, 0%, 100%);
	--grey: hsl(0, 0%, 50%);
	--black: hsl(0, 0%, 7%);

	/* Typography */
	--paragraph-font-family: Figtree sans-serif;
	--paragaph-font-size: 16px;
	--paragraph-font-weidht: 600;

	/*	Components */

	/* Body */
	--body-background-color: var(--yellow);

	/*	Card */
	--card-max-width: 327px;
	--card-margin-y: 155px;
	--card-spacing: 24px;
	--card-border-radius: 1.25rem;
	--card-background-color: var(--white);
	--card-border-color: var(--black);
	--card-shadow-width: 8px;

	/*	Card Image */
	--card-image-border-radius: 10px;

	/*	Tag */
	--tag-border-radius: 4px;
	--tag--padding: 4px 12px;
	--tag-background-color: var(--yellow);
	--tag-font-size: 0.75rem;
	--tag-font-weight: 800;
	--tag-text-color: var(--black);

	/* Card Title */
	--card-title-font-size: 1.25rem;
	--card-title-font-weight: 800;
	--card-title-hover-color: var(--yellow);

/*	Card Footer */
	--card-footer-spacing: 0.75rem;
	--card-footer-image-size: 2rem;
}

body {
	font-family: var(--paragraph-font-family);
	font-size: var(--paragaph-font-size);
	font-weight: var(--paragraph-font-weidht);
	background-color: var(--body-background-color);
}

.card {
	max-width: var(--card-max-width);
	width: 100%;
	display: flex;;
	flex-direction: column;
	margin: var(--card-margin-y) auto;
	gap: var(--card-spacing);
	padding: var(--card-spacing);
	background-color: var(--card-background-color);
	border: 1px solid var(--card-border-color);
	border-radius: var(--card-border-radius);
	box-shadow: var(--card-shadow-width) var(--card-shadow-width) 0 0;
}

.card__image {
	border-radius: var(--card-image-border-radius);
}

.tag {
	border-radius: var(--tag-border-radius);
	padding: var(--tag--padding);
	background-color: var(--tag-background-color);
	font-weight: var(--tag-font-weight);
	font-size: var(--tag-font-size);
	color: var(--tag-text-color)
}

.card__title {
	font-size: var(--card-title-font-size);
	font-weight: var(--card-title-font-weight);
}

.card__title:hover {
	color: var(--card-title-hover-color);
}

.card__footer {
	display: flex;
	gap: var(--card-footer-spacing);
}

.card__footer img {
	width: var(--card-footer-image-size);
	height: var(--card-footer-image-size);
}